source https://api.nuget.org/v3/index.json
storage: none
framework: net10.0

nuget FSharp.Core
nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Promise
nuget Feliz
nuget alex312.Feliz.Router
nuget Thoth.Json
nuget Fable.Browser.Dom
//nuget Feliz.DaisyUI
//git https://github.com/slyshykO/Feliz.DaisyUI.git update-feliz build: "../../../../build.bat build-daisyui", Packages: src/Feliz.DaisyUI/bin/Release
nuget Feliz.DaisyUI

group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: net10.0

    nuget Gapotchenko.FX.Console
    nuget FSharp.Core